<h2>Search Authors</h2>
<form action="/authors" method="GET">
  <label>
    Name <input type="text" name="name" value="<%= searchOptions.name %>" />
  </label>
  <button type="submit">Search</button>
</form>
<br />
<% authors.forEach(author => { %>
<div>
  <span><%= author.name %></span>
  <a href="/authors/<%= author.id %>">View</a>
  <a href="/authors/<%= author.id %>/edit">Edit</a>
  <a href="/authors/<%= author.id %>">Delete</a>
</div>

<% }) %>
